<% provide :title, t(".title") %>
<!-- SubHeader =============================================== -->
<section class="header-video">
  <div id="hero_video">
    <div id="sub_content">
      <h1>Đặt thức ăn, giao hàng từ 20'...</h1>
      <p>
        Có <%= @place_search %> Địa Điểm Ở <%= @province.name %>
      </p>
      <%= form_tag(list_path(province: to_slug_province(@province.name)), method: :get) do %>
        <div id="custom-search-input">
          <div class="input-group">
            <%= text_field_tag :keyword, "", class: "search-query", placeholder: t("placeholder.find_place") %>
            <span class="input-group-btn">
            <input type="submit" class="btn_search" value="submit">
            </span>
          </div>
        </div>
      <% end %>
    </div>
    <!-- End sub_content -->
  </div>
  <img src="/assets/img/video_fix.png" alt="" class="header-video--media" data-video-src="video/intro" data-teaser-source="video/intro" data-provider="Vimeo" data-video-width="1920" data-video-height="960">
  <div id="count" class="hidden-xs">
    <ul>
      <li><span class="number"><%= @places.count %></span> Địa điểm</li>
      <li><span class="number"><%= @total_shippers %></span> Người giao hàng</li>
      <li><span class="number"><%= @total_users %></span> Người dùng đã đăng ký</li>
    </ul>
  </div>
</section>
<!-- End Header video -->
<!-- End SubHeader ============================================ -->
<div class="white_bg">
  <div class="container margin_60">
    <div class="main_title">
      <h2 class="nomargin_top"><%= t ".choose_most_popular" %></h2>
    </div>
    <div class="row">
      <% @places_popular[0..5].each do |place| %>
        <div class="col-md-6">
          <%= link_to place_path(id: place.id), class: "strip_list" do %>
            <div class="ribbon_1">Bán chạy nhất</div>
            <div class="desc">
              <div class="thumb_strip">
                <img src="/assets/img/quants.jpg" alt="">
              </div>
              <div class="rating" style="color: #333;">
                <%= place.rating %> <i class="icon_star voted"></i> (<small><%= t ".reviews", count: place.rates.count(:rating) %></small>)
              </div>
              <h3><%= place.name %></h3>
              <div class="type">
                <%= by_category_name place.category_id %> / <%= by_province_name place.province_id %>
              </div>
              <div class="location">
                <%= place.address %>. <span class="opening"><%= t ".open_at" %><%= place.start_time %> - <%= place.close_time %>.</span><%= t ".average_price" %><%= number_to_currency_format place.average_price %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</div>
<!-- End white_bg -->
<!-- Content ================================================== -->
<div class="container margin_60">
  <div class="main_title">
    <h2 class="nomargin_top" style="padding-top:0"><%= t ".how_it_work" %></h2>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="box_home" id="one">
        <span>1</span>
        <h3><%= t ".search_by_address" %></h3>
        <p>
          <%= t ".search_by_address_detail" %>
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box_home" id="two">
        <span>2</span>
        <h3><%= t ".choose_place" %></h3>
        <p>
          <%= t ".choose_place_detail" %>
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box_home" id="three">
        <span>3</span>
        <h3><%= t ".pay_by_payment" %></h3>
        <p>
          <%= t ".pay_by_payment_detail" %>
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box_home" id="four">
        <span>4</span>
        <h3><%= t ".delivery_or_takeaway" %></h3>
        <p>
          <%= t ".delivery_or_takeaway_detail" %>
        </p>
      </div>
    </div>
  </div>
  <!-- End row -->
  <div id="delivery_time" class="hidden-xs">
    <strong><span>2</span><span>0</span></strong>
    <h4><%= t ".minute_deliver" %></h4>
  </div>
</div>
<!-- End container -->

<div class="high_light">
  <div class="container">
    <h3><%= t ".over_place", size: @places.size %></h3>
    <%= link_to t(".view_all_place"), list_path(province: to_slug_province(@province.name)), class: "nomargin" %>
  </div>
  <!-- End container -->
</div>
<!-- End hight_light -->
<section class="parallax-window" data-parallax="scroll" data-image-src="/assets/img/bg_office.jpg" data-natural-width="1200" data-natural-height="600">
  <div class="parallax-content">
    <div class="sub_content">
      <i class="icon_mug"></i>
      <h3><%= t ".deliver_your_office" %></h3>
    </div>
    <!-- End sub_content -->
  </div>
  <!-- End subheader -->
</section>
<!-- End section -->
<!-- End Content =============================================== -->
<div class="container margin_60">
  <div class="main_title margin_mobile">
    <h2 class="nomargin_top">Làm việc với chúng tôi</h2>
  </div>
  <div class="row">
    <% if @shipper.blank? %>
      <div class="col-md-4 col-md-offset-2">
        <%= link_to new_place_path, class: "box_work" do %>
          <img src="/assets/img/submit_restaurant.jpg" width="848" height="480" alt="" class="img-responsive">
          <h3>Gửi địa điểm của bạn<span>Bắt đầu kiếm khách hàng</span></h3>
          <p>Địa điểm yêu thích của bạn chưa có trên Quickfood? Chia sẻ với cộng đồng ngay bây giờ!</p>
          <div class="btn_1">Đọc thêm</div>
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to new_shipper_path, class: "box_work" do %>
          <img src="/assets/img/delivery.jpg" width="848" height="480" alt="" class="img-responsive">
          <h3>Tìm kiếm cộng tác<span>Bắt đầu kiếm tiền</span></h3>
          <p>Nếu bạn rảnh và có xe máy, hãy tham gia nhóm đối tác người giao hàng của Quickfood, thu nhập hấp dẫn!</p>
          <div class="btn_1">Đọc thêm</div>
        <% end %>
      </div>
    <% else %>
      <div class="col-md-4 col-md-offset-4">
        <%= link_to new_place_path, class: "box_work" do %>
          <img src="/assets/img/submit_restaurant.jpg" width="848" height="480" alt="" class="img-responsive">
          <h3>Gửi địa điểm của bạn<span>Bắt đầu kiếm khách hàng</span></h3>
          <p>Địa điểm yêu thích của bạn chưa có trên Quickfood? Chia sẻ với cộng đồng ngay bây giờ!</p>
          <div class="btn_1">Đọc thêm</div>
        <% end %>
      </div>
    <% end %>

  </div>
  <!-- End row -->
</div>
<!-- End container -->

<%= javascript_include_tag "video_header" %>
