<%= form_for @user, url: { action: "update_password" } do |f| %>
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <div class="form-group text-right">
        <%= f.label :current_password %>
      </div>
    </div>
    <div class="col-md-7 col-sm-7">
      <div class="form-group">
        <%= f.password_field :current_password, autocomplete: "password", class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <div class="form-group text-right">
        <%= f.label :password %>
      </div>
    </div>
    <div class="col-md-7 col-sm-7">
      <div class="form-group">
        <%= f.password_field :password, autocomplete: "password", class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <div class="form-group text-right">
        <%= f.label :password_confirmation %>
      </div>
    </div>
    <div class="col-md-7 col-sm-7">
      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "password", class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4"></div>
    <div class="col-md-4 col-sm-4"><button type="submit" class="btn_full_outline"><%= t ".save" %></button></div>
  </div>
<% end %>
