<% @address = Address.find_by id: order.address_id %>
<div class="modal fade" id="modal_detail_order_<%= order.id %>" tabindex="-1" role="dialog" aria-labelledby="myLogin" aria-hidden="true">
  <div class="modal-dialog">
    <div class="box_style_2">
      <h2 class="inner">Chi tiết đơn hàng</h2>
      <div id="confirm">
        <h3>Địa chỉ người nhận</h3>
        <p>
          Địa chỉ: <%= @address.address %>
        </p>
        <p>
          Người nhận: <%= @address.name %>
        </p>
        <p>
          SĐT: <%= @address.phone %>
        </p>
      </div>
      <h4>Tóm lược</h4>
      <table class="table table-striped nomargin">
        <tbody>
          <% @product_orders = ProductOrder.by_order(order.id).by_parent nil %>
          <% @product_orders.each do |po| %>
            <tr>
              <td>
                <strong><%= po.quantity %> x </strong> <%= po.food_name %>
              </td>
              <td>
                <strong class="pull-right"><%= number_to_currency_format po.actual_price %></strong>
              </td>
            </tr>
            <% @product_orders_option = ProductOrder.by_parent po.id %>
            <% @product_orders_option.each do |poo| %>
              <tr>
                <td>
                  <strong> + </strong> <%= poo.food_name %>
                </td>
                <td>
                  <strong class="pull-right"><%= number_to_currency_format poo.actual_price %></strong>
                </td>
              </tr>
            <% end %>
          <% end %>
          <tr>
            <td>
              <strong>Tổng món</strong>
            </td>
            <td>
              <strong class="pull-right"><%= number_to_currency_format order.total_price+order.fee %></strong>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Phí vận chuyển</strong>
            </td>
            <td>
              <strong class="pull-right"><%= number_to_currency_format order.fee %></strong>
            </td>
          </tr>
          <tr>
            <td>
              Lịch trình vận chuyển <a href="#" class="tooltip-1" data-placement="top" title="" data-original-title="Vui lòng xem xét chờ khoảng 20 phút cho việc giao hàng!"><i class="icon_question_alt"></i></a>
            </td>
            <td>
              <strong class="pull-right"><%= l order.created_at + 20.minutes, format: :short %></strong>
            </td>
          </tr>
          <tr>
            <td class="total_confirm">
              TỔNG
            </td>
            <td class="total_confirm">
              <span class="pull-right"><%= number_to_currency_format order.total_price+order.fee %></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="modal_detail_chat_<%= order.id %>" tabindex="-1" role="dialog" aria-labelledby="myLogin" aria-hidden="true">
  <div class="modal-dialog">
    <div id="live-chat" class="custom_live_chat_modal">
      <div class="header" data-id="<%= order.id %>">
        <h4>Chat - Đơn hàng #<%= order.id %></h4>
      </div>
      <div class="chat">
        <div class="chat-history">
          <% @messages = Message.by_order order.id %>
          <% @messages.each do |message| %>
            <% user = User.find_by id: message.user_id %>
            <div class="chat-message clearfix">
              <% if message.user_id.present? %>
                <%= image_tag user.avatar_url, width: "32", height: "32" %>
              <% end %>
              <div class="chat-message-content clearfix">
                <span class="chat-time"><%= l message.created_at, format: :short %></span>
                <h5><strong>
                  <% if message.user_id.present? %>
                    <% if message.is_shipper  == false %>
                      <%= user.name %>
                    <% else %>
                      [Shipper] <%= user.name %>
                    <% end %>
                  <% else %>
                    HỆ THỐNG
                  <% end %>
                </strong></h5>
                <p><%= message.message %></p>
              </div>
            </div>
            <hr>
          <% end %>
        </div>
        <!-- end chat-history -->
      </div>
      <!-- end chat -->
    </div>
  </div>
</div>
