<% provide :title, t(".title") %>
<% provide :button_text, t(".add") %>

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark"><%= t ".classify_category_management" %></h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><%= link_to t(".home"), admin_path %></li>
            <li class="breadcrumb-item"><%= link_to t(".title"), admin_classify_categories_path %></li>
            <li class="breadcrumb-item active"><%= t ".title" %></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <section class="content">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title"><%= t ".title" %></h3>
      </div>
      <%= render "form" %>
    </div>
  </section>
</div>

<%= javascript_include_tag "admin/custom_admin" %>
