<% provide :title, t(".title") %>
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark"><%= t ".place_management" %></h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><%= link_to t(".home"), admin_path %></li>
            <li class="breadcrumb-item active"><%= t ".title" %></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <section class="content">
    <div class="card card-primary card-outline">
      <div class="card-body">
        <table id="datatable-setting" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th class="stt">#</th>
              <th class="have_orderable"><%= t "table.name" %></th>
              <th class="have_orderable"><%= t "table.name_user" %></th>
              <th class="have_orderable"><%= t "table.address" %></th>
              <th class="have_orderable"><%= t "table.category" %></th>
              <th class="have_orderable"><%= t "table.province" %></th>
              <th class="action"><%= t "table.phone" %></th>
              <th class="action"><%= t "table.confirm" %></th>
              <th class="action"><%= t "table.lock_at" %></th>
              <th class="action"><%= t "table.action" %></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "place", collection: @places, as: :place %>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>

<%= javascript_include_tag "admin/custom_admin" %>
