<% provide :title, t(".title") %>
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark"><%= t ".order_management" %></h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><%= link_to t(".home"), admin_path %></li>
            <li class="breadcrumb-item active"><%= t ".title" %></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <section class="content">
    <div class="card card-primary card-outline">
      <div class="card-body">
        <table id="datatable-setting" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th class="stt">#</th>
              <th class="have_orderable"><%= t "table.place" %></th>
              <th class="have_orderable"><%= t "table.address" %></th>
              <th class="have_orderable"><%= t "table.shipper" %></th>
              <th class="have_orderable"><%= t "table.total_price" %></th>
              <th class="have_orderable"><%= t "table.payment" %></th>
              <th class="status"><%= t "table.status" %></th>
              <th class="action"><%= t "table.action" %></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "order", collection: @orders, as: :order %>
          </tbody>
        </table>
          <%= render partial: "modal_order", collection: @orders, as: :order %>
      </div>
    </div>
  </section>
</div>
