<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <img src="/assets/img/logo.png" alt="Quickfood" >
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <% if current_user&.avatar.blank? %>
          <img src="/assets/img/default-avatar.jpg" class="img-circle elevation-2">
        <% else %>
          <%= image_tag current_user.avatar_url, class: "img-circle elevation-2" %>
        <% end %>
      </div>
      <div class="info">
        <%= link_to current_user&.name, profile_path, class: "d-block" %>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <% classactive = "" %>
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
              with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="/admin" class="nav-link <% if @active == "dashboard" %>active<% end %>">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Trang điều khiển</p>
          </a>
        </li>
        <li class="nav-item">
          <% if @active == "category" %>
            <% classactive = " active" %>
          <% end %>
          <%= link_to admin_categories_path, class: "nav-link"+classactive do %>
            <i class="nav-icon fas fa-list"></i>
            <p> Quản lí danh mục</p>
          <% end %>
          <% classactive = "" %>
        </li>
        <li class="nav-item">
          <% if @active == "user" %>
            <% classactive = " active" %>
          <% end %>
          <%= link_to admin_users_path, class: "nav-link"+classactive do %>
            <i class="nav-icon fas fa-users"></i>
            <p> Quản lí người dùng</p>
          <% end %>
          <% classactive = "" %>
        </li>
        <li class="nav-item">
          <% if @active == "shipper" %>
            <% classactive = " active" %>
          <% end %>
          <%= link_to admin_shippers_path, class: "nav-link"+classactive do %>
            <i class="nav-icon fas fa-motorcycle"></i>
            <p> Quản lí người giao hàng</p>
          <% end %>
          <% classactive = "" %>
        </li>
        <li class="nav-item">
          <% if @active == "place" %>
            <% classactive = " active" %>
          <% end %>
          <%= link_to admin_places_path, class: "nav-link"+classactive do %>
            <i class="nav-icon fas fa-store"></i>
            <p> Quản lí địa điểm
              <span class="badge badge-info right"><%= @list_places_proposal %></span>
            </p>
          <% end %>
          <% classactive = "" %>
        </li>
        <li class="nav-item">
          <% if @active == "order" %>
            <% classactive = " active" %>
          <% end %>
          <%= link_to admin_orders_path, class: "nav-link"+classactive do %>
            <i class="nav-icon fas fa-clipboard-list"></i>
            <p> Quản lí đơn hàng</p>
          <% end %>
          <% classactive = "" %>
        </li>
        <li class="nav-item">
          <% if @active == "classify_category" %>
            <% classactive = " active" %>
          <% end %>
          <%= link_to admin_classify_categories_path, class: "nav-link"+classactive do %>
            <i class="nav-icon fas fa-th"></i>
            <p> Quản lí phân mục</p>
          <% end %>
          <% classactive = "" %>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
